<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">

<%= render "shared/headerv2" %>
	<section id="slider" class="slider-parallax revslider-wrap clearfix">
		<div class="slider-parallax-inner">

			<div class="tp-banner-container">
				<div class="tp-banner">
					<ul>
						<li class="not-dark" data-transition="slideup" data-slotamount="1" data-masterspeed="1500" data-delay="10000"  data-saveperformance="off">
							<img src="<%= image_path('large/multiple_gummies') %>"  data-bgposition="center bottom" data-kenburns="on" data-duration="10000" data-ease="Linear.easeNone" data-scalestart="100" data-scaleend="120" class="rev-slidebg">
						</li>
						<!-- SLIDE  -->
						<li class="not-dark" data-transition="slideup" data-slotamount="1" data-masterspeed="1500" data-delay="10000"  data-saveperformance="off">
							<img src="<%= image_path('large/laptop_newspaper_hands') %>"  data-bgposition="center bottom" data-kenburns="on" data-duration="10000" data-ease="Linear.easeNone" data-scalestart="100" data-scaleend="120" class="rev-slidebg">
						</li>

						<!-- SLIDE  -->
						<li class="not-dark" data-transition="slideup" data-slotamount="1" data-masterspeed="1500" data-thumb="<%= image_path('large/tropical_juice') %>" data-delay="10000"  data-saveperformance="off">
							<img src="<%= image_path('large/bike_basket') %>"  data-bgposition="center bottom" data-kenburns="on" data-duration="10000" data-ease="Linear.easeNone" data-scalestart="100" data-scaleend="120">
						</li>

						<!-- SLIDE  -->
						<li class="not-dark" data-transition="fade" data-slotamount="1" data-masterspeed="1500" data-thumb="<%= image_path('large/spearmint_juice') %>" data-delay="10000"  data-saveperformance="off">
							<img src="<%= image_path('large/spearmint_juice') %>"  alt="kenburns1"  data-bgposition="center center" data-offsetstart="-250 -100" data-offsetend="250 150" data-bgparallax="2" data-kenburns="on" data-duration="10000" data-ease="Linear.easeNone" data-scalestart="100" data-scaleend="120" data-offsetstart="100 100">
						</li>

					</ul>
				</div>
			</div>

		</div>
		<div class="clear"></div>

	</section>


	<div class="clear"></div>

	<div class="section nomargin noborder">
		<div class="row">
			<div id="asfeaturedtitle" class="heading-block center nobottomborder">
				<h2>As Featured In</h2>
			</div>
			<div class="col-md-2 col-md-offset-1 logo">
				<a href="http://www.forbes.com/sites/forbestreptalks/2016/06/14/this-facebook-alums-gum-startup-is-chewing-off-a-piece-of-cas-2-7b-medical-cannabis-market/#7fd3eeca5884">
					<%= image_tag "external_logos/forbes-logo", class: "center-block" %>
				</a>
			</div>
			<div class="col-md-2 logo">
				<%= image_tag "external_logos/dope-logo", class: "center-block" %>
			</div>
			<div class="col-md-2 logo">
				<%= image_tag "external_logos/high-times-logo", class: "center-block" %>
			</div>
			<div class="col-md-2 logo" id="mg-logo">
				<%= image_tag "external_logos/mg-magazine-logo", class: "center-block" %>
			</div>
			<div class="col-md-2 logo" id="sf-chronicle-logo">
				<a href="http://blog.sfgate.com/smellthetruth/2016/03/03/ten-hot-pot-startups-compete-in-sf-today/">
					<%= image_tag "external_logos/sf-chronicle-logo", class: "center-block" %>
				</a>
			</div>
		</div>
	</div>

		<!-- Content
		============================================= -->
		<section id="content">

			<div class="content-wrap nopadding">

				<div class="section parallax full-screen dark nomargin noborder" style="background-image: url('<%= image_path('large/hand_pack_darkened') %>');" data-stellar-background-ratio="0.4">
					<div class="vertical-middle">
						<div class="container clearfix">

							<div class="row">

								<div class="col-md-4 bottommargin-sm center" data-animate="bounceIn">
									<i class="i-plain i-xlarge divcenter nobottommargin icon-clock"></i>
									<div class="counter counter-large counter-lined"><<span data-from="120" data-to="15" data-refresh-interval="100" data-speed="2000"></span> min</div>
									<h5>Starts working quickly</h5>
								</div>

								<div class="col-md-4 bottommargin-sm center" data-animate="bounceIn" data-delay="200">
									<i class="i-plain i-xlarge divcenter nobottommargin icon-heart"></i>
									<div class="counter counter-large counter-lined"><<span data-from="3000" data-to="5" data-refresh-interval="100" data-speed="1500"></span> cal</div>
									<h5>Guilt free</h5>
								</div>

								<div class="col-md-4 bottommargin-sm center" data-animate="bounceIn" data-delay="400">
									<i class="i-plain i-xlarge divcenter nobottommargin icon-line2-hourglass"></i>
									<div class="counter counter-large counter-lined"><span data-from="1" data-to="4" data-refresh-interval="25" data-speed="2500"></span>+ hrs</div>
									<h5>Effects that last</h5>
								</div>

							</div>

						</div>
					</div>
				</div>

				<div class="section nomargin noborder">
					<div class="heading-block center nobottomborder nobottommargin">
						<h2>#chewplus</h2>
					</div>
				</div>

				<div class="col-md-12 nopadding common-height">

					<div class="col-md-4 dark col-padding ohidden" style="background-color: #1abc9c;">
						<div>
							<h3 class="uppercase" style="font-weight: 600;">Fast Acting, Low Calorie</h3>
							<p style="line-height: 1.8;">THC and CBD are absorbed in your mouth, not your stomach. Plus Gum starts working in less than fifteen minutes and each piece has fewer than five calories.</p>
							<!-- <a href="#" class="button button-border button-light button-rounded uppercase nomargin">Read More</a> -->
							<i class="icon-dashboard bgicon"></i>
						</div>
					</div>

					<div class="col-md-4 dark col-padding ohidden" style="background-color: #34495e;">
						<div>
							<h3 class="uppercase" style="font-weight: 600;">Healthy Ingredients</h3>
							<p style="line-height: 1.8;">We use only the highest quality extracts to make Plus Gum. Both our active and inactive ingredients are sourced from the best suppliers we can find. Every batch is tested by two independent labs.</p>
							<!-- <a href="#" class="button button-border button-light button-rounded uppercase nomargin">Read More</a> -->
							<i class="icon-cog bgicon"></i>
						</div>
					</div>

					<div class="col-md-4 dark col-padding ohidden" style="background-color: #e74c3c;">
						<div>
							<h3 class="uppercase" style="font-weight: 600;">Great Flavor</h3>
							<p style="line-height: 1.8;">We leave only a small hint of cannabis in Plus Gum. Enough so you know it's working, but your senses aren't overloaded.</p>
							<!-- <a href="#" class="button button-border button-light button-rounded uppercase nomargin">Read More</a> -->
							<i class="icon-thumbs-up bgicon"></i>
						</div>
					</div>

					<div class="clear"></div>

				</div>
				<div class="clear"></div>

				<div class="section parallax full-screen nomargin noborder" style="background-image: url('<%= image_path('large/bike_basket_lightened') %>');" data-stellar-background-ratio="0.4">
					<div class="vertical-middle">
						<div class="container clearfix">

							<div class="col_three_fifth nobottommargin">

								<div class="emphasis-title">
									<h2>Tastes <strong>like gum</strong></h2>
									<p class="lead topmargin-sm hidden-xs hidden-s">You shouldn't have to compromise. Plus Gum is fast acting <i>and</i> tastes great.</p>
								</div>

							</div>

						</div>
					</div>
				</div>



				<div class="clear"></div>

				<div class="section nomargin noborder">
					<div class="heading-block center nobottomborder nobottommargin">
						<h2>"This is the best edible I have ever had."</h2>
					</div>
				</div>

				<div id="instagram-photos" class="instagram-photos masonry-thumbs col-5" data-user="2032193147" data-count="10" data-type="user" data-resolution="standard_resolution"></div>
		</section><!-- #content end -->
