<%= render "shared/headerv2" %>

<div class="section parallax full-screen nomargin noborder dark" style="background-image: url('<%= image_path('plus_team') %>');" data-stellar-background-ratio="0.4">
  <div class="vertical-middle">
    <div class="container clearfix">

      <div class="col_three_fifth nobottommargin hidden-xs">

        <div class="emphasis-title">
          <h2>We are what we eat</h2>
          <p class="lead topmargin-sm">At Plus, we believe that everyone deserves access to effective, high quality medication made from the best ingredients.</p>
        </div>

      </div>

    </div>
  </div>
</div>


<div id="team" class="section nomargin noborder">
  <div class="heading-block center nobottomborder nobottommargin">
    <h2>team</h2>
  </div>
</div>

<div class="clear"></div>

<div class="row">

  <div class="col-md-3 col-sm-6 bottommargin">

    <div class="team">
      <div class="team-image">
        <%= image_tag "jake" %>
      </div>
      <div class="team-desc">
        <div class="team-title"><h4>Jake</h4><span>CEO</span></div>
      </div>
    </div>

  </div>

  <div class="col-md-3 col-sm-6 bottommargin">

    <div class="team">
      <div class="team-image">
        <%= image_tag "crunchy" %>
      </div>
      <div class="team-desc">
        <div class="team-title"><h4>Crunchy</h4><span>Science</span></div>
      </div>
    </div>

  </div>

  <div class="col-md-3 col-sm-6 bottommargin">

    <div class="team">
      <div class="team-image">
        <%= image_tag "roy" %>
      </div>
      <div class="team-desc">
        <div class="team-title"><h4>Roy</h4><span>Operations</span></div>
      </div>
    </div>

  </div>

  <div class="col-md-3 col-sm-6 bottommargin">

    <div class="team">
      <div class="team-image">
        <%= image_tag "lucie" %>
      </div>
      <div class="team-desc">
        <div class="team-title"><h4>Lucie</h4><span>Sales</span></div>
      </div>

    </div>

  </div>
</div>

<div class="section parallax full-screen nomargin noborder dark" style="background-image: url('<%= image_path('large/tea_plus') %>');" data-stellar-background-ratio="0.4">
  <div class="vertical-middle">
    <div class="heading-block center nobottomborder nobottommargin">
      <h1>#mydailyroutine</h1>
    </div>
  </div>
</div>

<div class="section nomargin noborder">
  <div class="heading-block center nobottomborder nobottommargin">
    <h2>"Where can I get more? I need it. I can't go back to other edibles"</h2>
  </div>
</div>
<div id="instagram-photos" class="instagram-photos masonry-thumbs col-5" data-user="2032193147" data-count="10" data-type="user" data-resolution="standard_resolution"></div>
